@font-face {
	font-family: 'youngSerif';
	src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'outfit';
	src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
} 

:root{
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --youngSerif: 'youngSerif', sans-serif;
  --outfit: 'outfit', sans-serif;
}

body{
  font-family: var(--outfit);
  color: var(--Wenge-Brown);
  line-height: 1.3;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main, footer{
  width: 85%;
}